<div id="accordion" class="accordionbox">
    <dl class="accordionlist">
        <% @articles.each do |art|%>
        <%= link_to adconsideration_path(art) do %>
        <div class="sample">
            <dt class="clearfix index_box">
                <div class="title">
                    <p><%=art.title %></p>
                </div>
            </dt>
        </div>
        <% end %>
        <% end %>
    </dl>
</div>